[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=DavMail
Type=Application
Terminal=false
Exec=/usr/bin/java -cp davmail.jar:lib/* davmail.DavGateway
Path=.
Comment=DavMail POP/SMTP Webdav Exchange Gateway
