[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Encoding=UTF-8
Name=DavMail
Icon=davmail
Exec=/usr/bin/davmail
Comment=DavMail POP/IMAP/SMTP/Caldav/Carddav/LDAP Exchange Gateway
Categories=Application;Office;Email;Network;Calendar;ContactManagement;
