[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DavMail
Comment=DavMail POP/IMAP/SMTP/Caldav/Carddav/LDAP Exchange Gateway
Exec=/usr/bin/davmail
Icon=davmail
Categories=GTK;GNOME;Network;
Keywords=pop;imap;smtp;exchange;owa;outlook
GenericName=DavMail POP/IMAP/SMTP/Caldav/Carddav/LDAP Exchange Gateway
