/* You can override this file with your own styles */
body {
        background:#F1FAFF url(../images/inner-gd.png) repeat-x scroll 0 0;
}
#breadcrumbs {
  background-color: white;
  border:0;
}
.externalLink img {
	vertical-align: middle;
}
.section h2, .section h3 {
	border:0;
	background: transparent;
	color:black;
	font-size:17px;
}
.section h2 {
	border-bottom:1px solid;
	padding:1px;
}
.section h3 {
	margin-top: 0;
    margin-bottom: 0;
	font-size:16px;
	font-weight:bold;
}
.section p {
	padding-left:15px;
}



.section table {
	margin-left:10px;
	border-collapse: collapse;
}
.small {
	font-size:9px;
}
.source {
	overflow:auto;
}
.floatLeft {
	float:left;
}
.notype {
	list-style-type:none;
	margin-left:10px;
	padding-left:0;
}
.about td{
  vertical-align: top;
}
a.download {
 display: block;
  background: #5ACE1D url(../images/download.png) 95% center no-repeat;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
}
a.donate {
 display: block;
  background: #5ACE1D url(../images/donate.png) 95% center no-repeat;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
}
.about p {
  padding: 0;
  margin-top: 0;
}
