[Unit]
Description=Davmail Exchange gateway
Documentation=http://davmail.sourceforge.net/serversetup.html
Documentation=http://davmail.sourceforge.net/advanced.html
Documentation=http://davmail.sourceforge.net/sslsetup.html
After=network.target

[Service]
Type=simple
User=davmail
PermissionsStartOnly=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/davmail -server /etc/davmail.properties
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
