<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>LSUIElement</key><string>0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleName</key>
    <string>DavMail</string>
    <key>CFBundleShortVersionString</key>
    <string>${release}</string>
    <key>CFBundleGetInfoString</key>
    <string>DavMail Gateway ${release-name}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>davmail</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>${release}</string>
    <key>CFBundleIconFile</key>
    <string>tray.icns</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>davmail.DavGateway</string>
      <key>JVMVersion</key>
      <string>1.5+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/davmail.jar</string>
        <string>$JAVAROOT/activation-1.1.1.jar</string>
        <string>$JAVAROOT/appbundler-1.0.jar</string>
        <string>$JAVAROOT/checkstyle-all-5.0.jar</string>
        <string>$JAVAROOT/commons-codec-1.3.jar</string>
        <string>$JAVAROOT/commons-collections-3.1.jar</string>
        <string>$JAVAROOT/commons-httpclient-3.1.jar</string>
        <string>$JAVAROOT/commons-logging-1.0.4.jar</string>
        <string>$JAVAROOT/htmlcleaner-2.2.jar</string>
        <string>$JAVAROOT/jackrabbit-webdav-2.4.3.jar</string>
        <string>$JAVAROOT/jcharset-1.3.jar</string>
        <string>$JAVAROOT/jcifs-1.3.14.jar</string>
        <string>$JAVAROOT/jdom-1.0.jar</string>
        <string>$JAVAROOT/libgrowl-0.2.jar</string>
        <string>$JAVAROOT/libgrowl.jnilib</string>
        <string>$JAVAROOT/log4j-1.2.16.jar</string>
        <string>$JAVAROOT/mail-1.4.3.jar</string>
        <string>$JAVAROOT/slf4j-api-1.3.1.jar</string>
        <string>$JAVAROOT/slf4j-log4j12-1.3.1.jar</string>
        <string>$JAVAROOT/stax-api-1.0.1.jar</string>
        <string>$JAVAROOT/stax2-api-3.1.1.jar</string>
        <string>$JAVAROOT/woodstox-core-asl-4.1.2.jar</string>
        <string>$JAVAROOT/xercesImpl-2.8.1.jar</string>
      </array>
      <key>VMOptions</key>
      <string>-Dsun.net.inetaddr.ttl=60 -Xmx512m</string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE</string>
    </dict>
    <key>JVMMainClassName</key>
    <string>davmail.DavGateway</string>
    <key>JVMOptions</key>
    <array>
    <string>-Dsun.net.inetaddr.ttl=60 -Xmx512m -Duser.dir=$APP_ROOT</string>
    </array>
  </dict>
</plist>
